<% layout('layouts/template') %> 
<div class="row">
    <div class="col-6">
        <div class="card my-3" style="width: 25rem;">
            <img src="<%= camps.image %> " class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"><%=camps.titel%></h5>
                <p class="card-text"><small class="text-muted"><%= camps.location %></small></p>
                <p class="card-text"><%=camps.description%></p>
                <p class="card-text"><b>Price: </b>€ <%=camps.price%></p>
                <a class="btn btn-primary" href="/campgrounds" role="button">Back</a>
                <a class="btn btn-warning" href="/campgrounds/<%= camps._id %>/edit" role="button">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= camps._id %>?_methode=DELETE " method="post">
                    <button class= "btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="my-3">
              <h2>Leave a Review</h2>
        </div>
        <form action="/campgrounds/<%= camps._id %>/reviews" method="post" style="width: 25rem;" novalidate class="validate-form">
            <div class="mb-1" style="width: 25rem;">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" name="review[rating]" min="0" max="5" id="rating">
            </div>
            <div class="mb-3">
                <label for="Review">Review</label>
                <textarea class="form-control" type="text" id="review" name="review[body]" required></textarea>
            </div>
            <div class="invalid-feedback">
                Please enter a review!
            </div>
            <button class= "btn btn-success mb-3" type="submit">Submit</button>
        </form>
        <div class="card-header mb-3" style="width: 25rem;">
            Reviews
        </div>
        <% for(let review of camps.review){ %>
            <div class="card mb-3" style="width: 25rem;"> 
                <div class="card-body">
                        <div class="card-title">
                            Rate: <%= review.rating %>
                        </div>
                        <p class="card-text"><%= review.body %></p>
                        <form action="/campgrounds/<%= camps._id %>/reviews/<%= review._id %>?_methode=DELETE " method="post">
                            <button class= "btn btn-danger btn" type="submit">Delete</button>
                        </form>
                </div>
                
            </div>
        <% } %> 
    </div>
</div>
