
<% layout('layouts/template') %> 
    <h1>Welkcome to our Campground</h1>
    <div>
        <a class="btn btn-primary" href="/campgrounds/new" role="button">Creat Campground</a>
    </div>
    <p></p>
    <% for(let campground of camps) { %> 

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= campground.image %> " class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.titel %></h5>
                  <p class="card-text"><%= campground.description %></p>
                  <p class="card-text"><small class="text-muted"><%= campground.location %></small></p>
                  <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View More</a>
                </div>
              </div>
            </div>
          </div>
      <% } %>